Bioinformatics_Stronghold/datasets/P15_LIA-sample.txt
Bioinformatics_Stronghold/tests/
Bioinformatics_Stronghold/programs/supplements/__pycache__
.vscode
Bioinformatics_Stronghold/.DS_Store
.DS_Store
